#body{
	margin: 20px 30px 20px 50px;
	padding: 10px 10px 10px 50px;
}
#div1{
	margin-right: 200px;
}
#div2{
	float: left;
}

.input1{
	margin-top: 20px;
	color: green;
	font-size: 20px;
	width:100px;
	height: 30px;
}

#div3
{
	margin-left: 100px;
	margin-top: 30px;
}

#title{
	font-size: 40px;
	color: blue;
	margin-bottom: 0px;
}

#addr{
	color: brown;
	opacity: .4;
	font-size: 20px;
}

#span1{
	color: purple;
	opacity: .5;
	font-size: 18px;
}

#tx1{
	color: red;
	background-color: yellow;
	padding: 5px 5px 5px 20px;
}

#apply{
	width:100px;
	height: 30px;
	font-size: 20px;
	color: blue;
}