#body{
	margin: 20px 5px 20px 220px;
	padding: 50px 50px 10px 50px;
}

#div1{
	float: left;
}

#logout{
	font-size: 20px;
	color: green;
	opacity: .6;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	background-color: blue;
	align-content: left;
}

#user{
	font-size: 20px;
	color: green;
	opacity: .8;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	background-color: blue;
	align-content: left;
}

.a{
	padding-top: 20px;
	text-decoration: none;
	color: blue;
	opacity: 0.7;
}

#search{
	background-color: yellow;
	opacity: .5;
	font-size: 20px;
	height: 10px;
	width: 100px;
	color: red;
}

#celebAvailable{
	opacity: 1;
	color: brown;
	font-size: 50px;
	margin-top: 20px;
	padding-top: 10px;
}

#name{
	opacity: .9;
	color: green;
	font-size: 20px;
}

#apply{
	opacity: .5;
	color: black;
	border-radius: 3px;
	background-color: powderblue;
}

#suggestedCeleb{
	margin-left: 20px;
	margin-top: 20px;
}